// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/* Regular font family
 * @type List
 */
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/* Code (monospace) font family
 * @type List
 */
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

$text-base-color: #000;

/* colors */
$colors: (
  // reds
  wellRead: #BD362F,
  brightRed: #ae0000,
  tamarillo: #8E1C16,
  redBerry: #990000,
  // yellows
  tahitiGold: #e67e22,
  california: #E69230,
  dandelion: #fedf6f,
  supernova: #ffcc00,
  buddhaGold: #D7AC00,
  // greens
  fruitSalad: #5A9F4B,
  malachite: #0ead31,
  apple: #418932,
  // blues
  easternBlue: #14a0be,
  /* 50 shades of gray */
  white: #ffffff,
  aquaHaze: #f6f8fa,
  gallery: #ebebeb,
  athensGray: #e1e4e8,
  mischka: #dbdee4,
  loblolly: #B9C0CA,
  ghost: #C5CBD3,
  regentGray: #8793a3,
  tuna: #333339,
  mineShaft: #333333,
  black: #000,
  trout: #4d545d,
  manatee: #939498,
  matternhorn: #555555,
);

$DEVICE_SMALL_LOWER_BOUND: 320;
$DEVICE_MEDIUM_LOWER_BOUND: 768;
$DEVICE_LARGE_LOWER_BOUND: 1024;
$DEVICE_XLARGE_LOWER_BOUND: 1200;

$DEVICE_SMALL_UPPER_BOUND: 767;
$DEVICE_MEDIUM_UPPER_BOUND: 1023;
$DEVICE_LARGE_UPPER_BOUND: 1199;

/* Here we define the breakpoints which will become the upper border for each media size. */
$mq-breakpoints: (
  small:  $DEVICE_SMALL_LOWER_BOUND,
  medium: $DEVICE_MEDIUM_LOWER_BOUND,
  large:  $DEVICE_LARGE_LOWER_BOUND,
  xlarge: $DEVICE_XLARGE_LOWER_BOUND
);

/* Media Queries */

/* Here we define the lower and upper bounds for each media size */
$small-up:    $DEVICE_SMALL_LOWER_BOUND, undefined !default;
$medium-up:   $DEVICE_MEDIUM_LOWER_BOUND, undefined !default;
$large-up:    $DEVICE_LARGE_LOWER_BOUND, undefined !default;
$small-only:  $DEVICE_SMALL_LOWER_BOUND, $DEVICE_SMALL_UPPER_BOUND !default; /* 320px, 767px */
$medium-only: $DEVICE_MEDIUM_LOWER_BOUND, $DEVICE_MEDIUM_UPPER_BOUND !default; /* 768px, 1023px */
$large-only:  $DEVICE_LARGE_LOWER_BOUND, $DEVICE_LARGE_UPPER_BOUND !default; /* 1024px, 1199px */
$xlarge-only: $DEVICE_XLARGE_LOWER_BOUND, $DEVICE_XLARGE_LOWER_BOUND !default; /* 1200px */
$medium-down: undefined, $DEVICE_MEDIUM_UPPER_BOUND !default;
$large-down:  undefined, $DEVICE_LARGE_UPPER_BOUND !default;
$xlarge-down: undefined, $DEVICE_XLARGE_LOWER_BOUND !default;

$screen: "screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

/*
 * Responsive mode
 * Set to false to enable support for browsers that do not support @media queries, (IE <= 8, Firefox <= 3, Opera <= 9)
 * Example: http://sass-mq.github.io/sass-mq/#undefined-variable-mq-responsive
 */
$mq-responsive: true !default;

/*
 * Static breakpoint (for fixed-width layouts)
 * Define the breakpoint from $mq-breakpoints that should be used as the target width for the fixed-width layout
 * (i.e. when $mq-responsive is set to 'false') in a old-ie.scss
 * Example: http://sass-mq.github.io/sass-mq/#undefined-variable-mq-static-breakpoint
 */
$mq-static-breakpoint: $DEVICE_XLARGE_LOWER_BOUND !default;

/*
 * zIndex
 */
$zIndex: (
  aboveGround: 1,
  hoverActiveFocus: 2,
  absoluteFloating: 3,
  fixedFloating: 4,
  popupContainer: 5,
  overlay: 15,
  modal: 20,
  blockingLoader: 25,
);

$font: (
  size: 13px,
  lineHeight: 21px,
  weight: (
    normal: 300,
    bold: 500,
  ),
  color: map_get($colors, 'black'),
  selectionColor: map_get($colors, 'white'),
  selectionBackgroundColor: map_get($colors, 'malachite'),
  baseFamily: "'Open Sans', Helvetica, Arial, sans-serif",
  sansSerifFont: "Helvetica, Arial, sans-serif",
  serifFont: "Georgia, Cambria, 'Times New Roman', Times, serif",
  monospaceFont: "Consolas, 'Liberation Mono', Courier, monospace"
);

$base: (
  backgroundColor: map_get($colors, 'aquaHaze'),
  borderColor: map_get($colors, 'athensGray'),
  unit: 16px,
  spacer: 8px,
  icon: (
    xsmall: 8px,
    small: 16px,
    normal: 32px,
    large: 48px,
    xlarge: 64px,
    footerSocialMedia: 25px
  ),
  link: (
    color: map_get($colors, 'redBerry')
  )
);

$heading: (
  fontSize: (
    h1: (
      small: 160%,
      medium: 220%,
      large: 220%,
    ),
    h2: (
      small: 130%,
      medium: 160%,
      large: 160%
    ),
    h3: 100%
  ),
  lineHeight: 1.35,
  weight: 600,
  color: map_get($colors, 'black')
);

$button: (
  padding: (
    vertical: 12px,
    horizontal: 12px,
  ),
  fontSize: 17px,
  fontWeight: 400,
  lineHeight: 18px,
  backgroundColor: (
    primary: map_get($colors, 'california'),
    secondary: map_get($colors, 'athensGray'),
    success: map_get($colors, 'fruitSalad'),
    error: map_get($colors, 'wellRead'),
  ),
  hoverBackgroundColor: (
    primary: map_get($colors, 'tahitiGold'),
    secondary: map_get($colors, 'gallery')
  ),
  borderRadius: 200px,
  borderColor: (
    primary: map_get($colors, 'california'),
    secondary: map_get($colors, 'loblolly'),
    success: map_get($colors, 'apple'),
    error: map_get($colors, 'tamarillo')
  ),
)

