body {
  font-family: map-deep-get($font, 'baseFamily');
  font-size: map-deep-get($font, 'size');
  font-weight: map-deep-get($font, 'weight', 'normal');
  font-style: normal;
  color: map-deep-get($font, 'color');
  line-height: map-deep-get($font, 'lineHeight');
}

h1, h2, h3, h4 {
  @include setHeading;
}

h1 {
  color: map_get($colors, 'aquaHaze');
  @include stepScale('font-size',
    map-deep-get($heading, 'fontSize', 'h1', 'small'),
    map-deep-get($heading, 'fontSize', 'h1', 'medium'),
    map-deep-get($heading, 'fontSize', 'h1', 'large')
  );
  font-weight: map-deep-get($font, 'weight', 'normal');
}

h2 {
  @include stepScale('font-size',
    map-deep-get($heading, 'fontSize', 'h2', 'small'),
    map-deep-get($heading, 'fontSize', 'h2', 'medium'),
    map-deep-get($heading, 'fontSize', 'h2', 'large')
  );
  font-weight: map-deep-get($font, 'weight', 'normal');
}

h3 {
  font-size: map-deep-get($heading, 'fontSize', 'h3');
  font-weight: map-deep-get($font, 'weight', 'normal');
}

h4 {
  font-size: map-deep-get($heading, 'fontSize', 'h4');
}

h5 {
  font-size: map-deep-get($heading, 'fontSize', 'h5');
  color: map_get($colors, 'regentGray');
}

p {
  @include stepScale('font-size',
    80%,
    90%,
    90%
  );
  margin-bottom: map_get($base, 'unit');
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

pre {
  font-family: map_get($font, 'monospaceFont');
  white-space: pre;
}

small {
  font-size: 75%;
  vertical-align: baseline;
}
