.hero {
  color: $mischka;
  @include media-query($medium-up) {
    margin-top: $base-unit;
  }
}

.panel {
  display: flex;
  flex-direction: column;
}

.hero__background {
  position: relative;
  padding-bottom: 62%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://drive.google.com/uc?id=0BwwULdUQlf8mdEx5ZUdyaDRZQ2s');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .hero__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;

    @include media-query($medium-up) {
      padding: $base-unit;
    }

    h1 {
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: $base-unit;
    }

    .hero__links {
      display: flex;
    }
  }
}
