.wrapper__cities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media-query($medium-up) {
    padding: 0 $base-unit;
  }

  .cities__intro {
    @extend .wrapper__cities;
    padding: 0;
    margin-bottom: $base-unit;

    h2 {
      text-align: center;
      word-spacing: 2px;
      letter-spacing: 1px;
      text-transform: uppercase;

      &:after {
        display: block;
        height: 2px;
        background-color: $tahitiGold;
        content: " ";
        width: 100px;
        margin: 0 auto;
        margin-top: $base-unit;
      }
    }
  }

  .cities__body {
    lost-center: 100% 0 flex;
    .cities__features {
      lost-row: 1/4 $base-unit;
    }

    @include media-query($medium-up) {
      .cities__features {
        lost-column: 1/4 0 $base-unit;
      }
    }

    h3 {
      text-transform: uppercase;
    }
  }
}

.city__feature {
  display: flex;
  align-items: center;
  @include media-query($small-only) {
    font-size: 85%;
  }

  svg {
    fill: $tahitiGold;
    margin-right: 5px;
  }

  a {
    color: $trout;
  }
}
