%baseButton {
  display: flex;
  appearance: none;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  padding: $button-padding-vertical $button-padding-horizontal;
  margin: 0 $base-spacer;
  color: currentColor;
  border: 0;
  border-radius: $base-border-radius;
  font-family: 'Lato', helvetica, arial, sans-serif;
  font-size: 80%;
  font-weight: $button-font-weight;
  line-height: $icon-small-size;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.2s, border 0.2s, color 0.2s;

  svg + span, span + svg, svg + svg {
    margin-left: $base-spacer;
  }
}

%primary {
  color: $white;
  border: 1px solid $button-primary-border-color;
  background-color: $button-primary-background-color;
  box-shadow: inset 0 -1px 0 0 $button-primary-border-color;

  @include on-event {
    background-color: $button-primary-hover-background-color;
    text-decoration: none;
    box-shadow: inset 0 2px 3px 0 rgba(0,0,0,0.13),
                inset 0 -1px 0 0 $button-primary-border-color;
  }
}

%secondary {
  color: $button-secondary-color;
  background-color: $button-secondary-background-color;
  box-shadow: inset 0 -1px 0 0 $button-secondary-border-color;

  @include on-event {
    background-color: $button-secondary-hover-background-color;
    box-shadow: inset 0 2px 3px 0 rgba(0,0,0,0.13),
                inset 0 -1px 0 0 $button-secondary-border-color;
  }
}

%success {
  color: $button-success-color;
  text-shadow: none;
  background-color: $button-success-background-color;
  box-shadow: inset 0 -1px 0 0 $button-success-border-color;

  &:hover {
    box-shadow: inset 0 2px 3px 0 rgba(0,0,0,0.13),
                inset 0 -1px 0 0 $button-success-border-color;
  }
}

%error {
  color: $button-error-color;
  text-shadow: none;
  background-color: $button-error-background-color;
  box-shadow: inset 0 -1px 0 0 $button-error-border-color;

  &:hover {
    box-shadow: inset 0 2px 3px 0 rgba(0,0,0,0.13),
                inset 0 -1px 0 0 $button-error-border-color;
  }
}

%close {
  background: transparent;
  color: $black;
  box-shadow: none;

  &:hover {
    background: transparent;
    box-shadow: none;
  }
}

.btn {
  &--primary {
    @extend %baseButton;
    @extend %primary;
  }
  &--secondary {
    @extend %baseButton;
    @extend %secondary;
  }
  &--success {
    @extend %baseButton;
    @extend %success;
  }
  &--error {
    @extend %baseButton;
    @extend %error;
  }
  &--close {
    @extend %baseButton;
    @extend %close;
  }
}

.btn__text {
  display: inline-flex;
  align-items: center;
  align-content: center;
}
