@import '../../assets/sass/abstracts/functions';
@import '../../assets/sass/abstracts/variables';

.modal__header {
  border-bottom: 1px solid map_get($base, borderColor);
  padding: map_get($base, unit);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: map_get($font, baseFamily);

  h2 {
    margin: 0;
    font-size: 21px;
  }
}
