.modal__header {
  border-bottom: 1px solid $base-border-color;
  padding: $base-unit;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: $base-font-family;

  h2 {
    margin: 0;
    font-size: 21px;
  }
}
