.wrapper__steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media-query($medium-up) {
    padding: 0 $base-unit;
  }

  .steps__intro {
    @extend .wrapper__steps;
    padding: 0;

    h2 {
      text-align: center;
      word-spacing: 2px;
      letter-spacing: 1px;
      text-transform: uppercase;

      &:after {
        display: block;
        height: 2px;
        background-color: $tahitiGold;
        content: " ";
        width: 100px;
        margin: 0 auto;
        margin-top: $base-unit;
      }
    }
  }

  .steps__description {
    @extend .wrapper__steps;
    padding: 0;

    @include media-query($medium-up) {
      flex-direction: row;
    }

    .steps__image {
      width: 40%;
      margin-bottom: $base-unit;

      @include media-query($medium-only) {
        width: 25%;
      }

      @include media-query($large-up) {
        width: 20%;
      }
    }
  }
}

.steps__items {
  @extend .wrapper__steps;
  padding: 0;

  align-items: flex-start;
  @include media-query($medium-up) {
    margin-left: $base-unit;
  }

  .steps__item {
    display: flex;
    align-items: center;
    margin-bottom: $base-unit;

    p {
      margin-bottom: 0;
    }

    div {
      color: $tahitiGold;
      font-size: 150%;
      height: 54px;
      width: 54px;
      border: 2px solid $tahitiGold;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      margin-right: $base-unit;
      padding: 5px 11px;

      @include media-query($medium-only) {
        height: 40px;
        width: 40px;
        margin-right: $base-spacer;
        font-size: 120%;
      }
    }

    .steps__item__link {
      height: $icon-large-size;
      @include on-event {
        border-bottom: none;
      }
    }

    svg {
      width: 100%;
      height: 100%;
      fill: $black;
    }
  }
}


