@import '../../assets/sass/abstracts/functions';
@import '../../assets/sass/abstracts/variables';
@import '../../assets/sass/abstracts/mixins';

.wrapper__steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mq(nth($medium-up, 1)) {
    padding: 0 map_get($base, unit);
  }

  .steps__intro {
    @extend .wrapper__steps;
    padding: 0;

    h2 {
      text-align: center;
      word-spacing: 2px;
      letter-spacing: 1px;

      &:after {
        display: block;
        height: 2px;
        background-color: map_get($colors, tahitiGold);
        content: " ";
        width: 100px;
        margin: 0 auto;
        margin-top: map_get($base, unit);
      }
    }
  }

  .steps__description {
    @extend .wrapper__steps;
    padding: 0;

    @include mq(nth($medium-up, 1)) {
      flex-direction: row;
    }

    .steps__image {
      width: 40%;
      margin-bottom: map_get($base, 'unit');

      @include mq(nth($medium-only, 1)) {
        width: 25%;
      }

      @include mq(nth($large-up, 1)) {
        width: 20%;
      }
    }
  }
}

.steps__items {
  @extend .wrapper__steps;
  padding: 0;

  align-items: flex-start;
  @include mq(nth($medium-up, 1)) {
    margin-left: map_get($base, 'unit');
  }

  .steps__item {
    display: flex;
    align-items: center;
    margin-bottom: map_get($base, 'unit');

    p {
      margin-bottom: 0;
    }

    div {
      color: map_get($colors, 'tahitiGold');
      font-size: 150%;
      height: 54px;
      width: 54px;
      border: 2px solid #e67e22;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      margin-right: map_get($base, 'unit');
      padding: 6px 11px;

      @include mq(nth($small-only, 1)) {
        height: 40px;
        width: 40px;
        margin-right: 10px;
        font-size: 120%;
      }
    }

    .steps__item__link {
      height: map-deep-get($base, 'icon', 'large');
      @include on-event {
        border-bottom: none;
      }
    }

    svg {
      width: 100%;
      height: 100%;
      fill: black;
    }
  }
}


