@import '../../assets/sass/abstracts/variables';
@import '../../assets/sass/abstracts/mixins';

.wrapper__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: map_get($colors, pureWhite);

  @include mq(nth($medium-up, 1)) {
    padding: 0 map_get($base, unit);
  }

  .contact__intro {
    h2 {
      text-align: center;
      word-spacing: 2px;
      letter-spacing: 1px;

      &:after {
        display: block;
        height: 2px;
        background-color: map_get($colors, tahitiGold);
        content: " ";
        width: 100px;
        margin: 0 auto;
        margin-top: map_get($base, 'unit');
      }
    }
  }

  .contact__body {
    width: 90%;

    @include mq(nth($medium-up, 1)) {
      width: 60%;
    }

    @include mq(nth($large-up, 1)) {
      width: 50%;
    }

    .contact__form {
      input[type=text],
      input[type=email],
      select,
      textarea {
        padding: map_get($base, spacer);
        border-radius: 3px;
        border: 1px solid #ccc;
      }

      textarea {
        height: 100px;
      }

      input[type=checkbox] {
        margin: map_get($base, spacer) 5px map_get($base, spacer) 0;
      }

      @lost clearing both;
      @lost rounder 99.9;
      .form__row {
        lost-center: 100% 0 flex;
        align-items: center;
        margin-bottom: map_get($base, unit);

        label {
          lost-row: 1/3 0;
          margin-bottom: map_get($base, spacer);
        }

        input[type=text],
        input[type=email],
        select,
        textarea {
          flex: 1 0 auto;
        }

        @include mq(nth($medium-up, 1)) {
          label {
            lost-column: 1/3 0 0;
            margin-bottom: 0;
          }

          input[type=text],
          input[type=email],
          select,
          textarea {
            lost-column: 2/3 0 0;
          }
        }
      }

      .form__row:not(:last-child) {
        @include stepScale('font-size', 85%, 100%, 100%);
      }

      .form__row:last-child {
        justify-content: center;
      }
    }
  }
}
