header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: map_get($layers, fixed-floating);
  background-color: $trout;
}

.wrapper__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  color: $white;

  @include step-scale('padding-left', $base-spacer, $base-unit, $base-unit);
  @include step-scale('padding-right', $base-spacer, $base-unit, $base-unit);

  @include media-query($medium-up) {
    height: 80px;
  }
}

.header__logo {
  img {
    height: 50px;

    @include media-query($medium-up) {
      height: 70px;
    }
  }
}

.nav__links {
  display: flex;
}

.compactmenu__link {
  @include on-event {
    border: none;
  }
}

.nav__link {
  text-transform: uppercase;
  font-size: 90%;
  text-decoration: none;

  @include on-event {
    border-bottom: none;
  }

  @include media-query($medium-up) {
    color: $mischka;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;

    @include on-event {
      color: $white;
      border-bottom: 2px solid $tahitiGold;
    }
  }
}

.nav__link:not(:last-child) {
  margin-right: $base-unit;
}

.modal__body {
  ul {
    li {
      line-height: 39px;
      border-bottom: 1px solid $athens-gray;
      padding: 0 $base-unit;
    }
  }
}
