@import '../../assets/sass/abstracts/variables';
@import '../../assets/sass/abstracts/mixins';

.features__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 1px;

    &:after {
      display: block;
      height: 2px;
      background-color: map_get($colors, tahitiGold);
      content: " ";
      width: 100px;
      margin: 0 auto;
      margin-top: map_get($base, 'unit');
    }
  }

  p {
    max-width: 700px;
    margin-bottom: 0;
    line-height: 145%;
    text-align: center;
  }

  margin-bottom: map_get($base, unit);
}

@lost clearing both;
@lost rounder 99.9;
.features__specs {
  lost-center: 100% 0 flex;
  .info {
    lost-row: 1/4 0 map_get($base, 'unit');
  }

  @include mq(nth($medium-up, 1)) {
    .info {
      lost-column: 1/4 0 map_get($base, 'unit');
    }
  }

  h3 {
    text-transform: uppercase;
  }
}
