.wrapper__features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: $base-unit;

  h2 {
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: $base-unit;

    &:after {
      display: block;
      height: 2px;
      background-color: $tahitiGold;
      content: " ";
      width: 100px;
      margin: 0 auto;
      margin-top: $base-unit;
    }
  }

  p {
    max-width: 700px;
    margin-bottom: 0;
    line-height: 145%;
    text-align: center;
  }
}

.features__specs {
  lost-center: 100% 0 flex;
  padding: $base-unit 0;

  .info {
    lost-row: 1/4 $base-spacer;
  }

  @include media-query($medium-up) {
    .info {
      lost-column: 1/4 $base-unit;
    }
  }

  h3 {
    text-transform: uppercase;
  }
}
