.wrapper__testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;

  .testimonials__background {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $base-unit 0;

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://lh5.googleusercontent.com/STDpIdel6vnqWYGR9BiEuDn3PznIj1bn18K6tSzQVsTQVDXKhnqRPA');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @include media-query($medium-up) {
      height: 500px;
    }
  }

  @include media-query($medium-up) {
    padding: 0 $base-unit;
  }

  .testimonials__intro {
    margin-bottom: $base-unit;

    h2 {
      text-align: center;
      word-spacing: 2px;
      letter-spacing: 1px;
      text-transform: uppercase;

      &:after {
        display: block;
        height: 2px;
        background-color: $tahitiGold;
        content: " ";
        width: 100px;
        margin: 0 auto;
        margin-top: $base-unit;
      }
    }
  }

  .testimonials__body {
    lost-center: 100% 0 flex;

    .testimonial__quote {
      lost-row: 1/3 $base-unit;

      blockquote {
        position: relative;
        font-style: italic;
        line-height: 145%;
        padding: $base-spacer;

        @include step-scale('font-size', 85%, 100%, 100%);
      }

      blockquote:before {
        content: "\201C";
        font-size: 400%;
        display: block;
        position: absolute;
        top: 0;
        left: -5px;
      }
    }

    @include media-query($medium-up) {
      padding: 0 $base-unit;
      .testimonial__quote {
        lost-column: 1/3 $base-unit;
      }
    }
  }
}

cite {
  font-size: 90%;
  margin-top: $base-spacer;
  display: block;

  img {
    height: 45px;
    border-radius: 50%;
    margin-right: $base-spacer;
    vertical-align: middle;
  }
}


