/* colors */

// reds
$bright-red: #ae0000;
$red-berry: #990000;
$tamarillo: #8E1C16;
$well-read: #BD362F;
// yellows
$buddha-gold: #D7AC00;
$california: #E69230;
$dandelion: #fedf6f;
$hotCinnamon: #CF6D17;
$supernova: #ffcc00;
$tahitiGold: #e67e22;
// greens
$apple: #418932;
$fruit-salad: #5A9F4B;
$malachite: #0ead31;
// blues
$eastern-blue: #14a0be;
// grays
$aqua-haze: #f6f8fa;
$athens-gray: #e1e4e8;
$black: #000;
$gallery: #ebebeb;
$ghost: #C5CBD3;
$loblolly: #B9C0CA;
$manatee: #939498;
$mine-shaft: #333333;
$mischka: #dbdee4;
$regent-gray: #8793a3;
$trout: #4d545d;
$tundora: #404040;
$white: #fff;
