@import "../abstracts/variables";
@import "../abstracts/mixins";

footer {
  background-color: map_get($colors, 'tuna');
  padding: 50px;
  font-size: 80%;
  color: map_get($colors, 'aquaHaze');
}

.footer__row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;

  h2 {
    margin-bottom: 0;
  }
}

.footer__row__nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @include mq(nth($medium-up, 1)) {
    flex-direction: row;
    justify-content: center;
  }
}

.footer__row__nav > ul {
  list-style-type: none;
}

.footer__nav__link {
  margin-right: 15px;

  @include on-event {
    border-bottom: none;
    transition: color 0.2s;
  }
}

.footer__subfooter {
  text-align: center;
}
