header {
  background-color: map_get($colors, 'trout');
}

header > nav {
  display: flex;
  padding: 15px 25px;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 100px;
}

.main-nav {
  display: flex;
  list-style-type: none;
}

.main-nav__link {
  padding: 8px 0;
  color: map_get($colors, 'aquaHaze');
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;

  @include on-event {
    color: map_get($colors, 'aquaHaze');
    border-bottom: 2px solid #e67e22;
  }
}

.compactmenu__link {
  color: map_get($colors, 'aquaHaze');
  border: none;
  transition: color 0.2s;

  @include on-event {
    color: map_get($colors, 'tahitiGold');
    border: none;
  }
}
