.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/img/hero-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 280px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mq(nth($medium-up, 1)) {
    height: 400px;
  }

  @include mq(nth($large-up, 1)) {
    height: 500px;
  }

  h1 {
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 1px;
  }
}

.hero__links {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10px;
}
