.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials__intro {
  @extend .steps;
  padding: map_get($base, 'unit');

  h2 {
    text-transform: uppercase;
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 1px;

    &:after {
      display: block;
      height: 2px;
      background-color: #e67e22;
      content: " ";
      width: 100px;
      margin: 0 auto;
      margin-top: map_get($base, 'unit');
    }
  }
}
